extends layout

block content 
	form(action='login', method='POST')
		span Email:
		br 
		input(type='text', name='email')
		br
		br
		span Password: 
		br
		input(type='text', name='password')
		br
		br
		input(type='submit')
	